.statusBar {
    -fx-background-color: #efefef;
    -fx-padding: 10px 20px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0px 0 0 2;
	-fx-font-weight: bold;
	-fx-font-size: 20px;
}

.infos {
    -fx-font-weight: normal;
    -fx-font-size: 18px;
}

.menu {
    -fx-font-weight: normal;
    -fx-font-size: 12px;
}

.message {
	-fx-alignment: center;
	-fx-font-weight: bold;
	-fx-font-size: 64px;	
	-fx-fill: red;
	-fx-stroke: black;
}

Button {
    -fx-font-weight: normal;
    -fx-font-size: 18px;
}